# Introduction
State notebook purpose here

### Imports
Import libraries and write settings here.

In [5]:
# Data manipulation
import pandas as pd
import numpy as np
# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30
# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
import datetime
InteractiveShell.ast_node_interactivity = 'all'
from IPython import get_ipython
ipython = get_ipython()
# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload
%autoreload 2

In [6]:
import tweepy
import json

In [7]:


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [28]:
import datetime
import json
from datetime import datetime as dt

class DateTimeEncoder(json.JSONEncoder):
    def default(self, o):
        if isinstance(o, dt):
            return o.isoformat()

        return json.JSONEncoder.default(self, o)

In [59]:
def extractTweets(tweet):
    today = datetime.datetime.now()
    today = today.replace(hour=23, minute=59, second=59, microsecond=999999) # set from the beggining of the day
    time_to_the_past = 1 # 1 because we want 1 day before today
    yesterday = today - datetime.timedelta(time_to_the_past) 
    
    user = "from:" + str(tweet.user.screen_name)
    # Collecting tweets
    count = 10 # Set the number of tweets to retrieve
    next_day = yesterday + datetime.timedelta(time_to_the_past) # equivalent to today
    tuitss = []
    for tuit in tweepy.Cursor(api.search, user,
                       until = next_day.date() # format YYYY-MM-DD in datetime. Not string. Twitter only extract tweets before that date
                       ).items(300):
        tuits = {}
        tuits["id"] = tuit.id
        tuits["created_at"] = tuit.created_at
        tuits["text"] = tuit.text
        tuits["coordinates"] = tuit.coordinates 
        tuits["geo"] = tuit.geo
        tuits["user"] = tuit.user.screen_name
        tuits["retweet_count"] = tuit.retweet_count
        tuits["favorite_count"] = tuit.favorite_count 
        tuitss.append(tuits)
        
    return tuitss 

def extractUsers(tweet):
    tweets_properties = {}
    #attributes = ['author', 'contributors','coordinates', 'created_at','destroy','entities','favorite','favorite_count','favorited','geo','id','id_str','in_reply_to_screen_name','in_reply_to_status_id','in_reply_to_status_id_str','in_reply_to_user_id', 
             #         'in_reply_to_user_id_str', 'is_quote_status', 'lang','metadata', 'parse', 'parse_list''place', 'possibly_sensitive',
              #          'quoted_status', 'quoted_status_id','quoted_status_id_str','retweet','retweet_count','retweeted', 'retweets', 'source', 'source_url', 'text',
                #    'truncated','user']
    tweets_properties["id"] = tweet.user.id
 
    
    tweets_properties["author"] = tweet.user.screen_name
    tweets_properties["created_at"] = tweet.user.created_at

    tweets_properties["location"] = tweet.user.location
    tweets_properties["description"] = tweet.user.description
    tweets_properties["verified"] = tweet.user.verified
    
    tweets_properties["followers"] = tweet.user.followers_count
    tweets_properties["following"] = tweet.user.friends_count
    tweets_properties["favourites_count"] = tweet.user.favourites_count
    
    tweets_properties["statuses_count"] = tweet.user.statuses_count
    tweets_properties["lang"] = tweet.user.lang

    tuitss = extractTweets(tweet)
    tweets_properties["tweets"] =  json.dumps(tuitss, cls=DateTimeEncoder)  
    tweets_properties["following_json"] =  extractFollow(tweet)
    tweets_properties["followers_json"] =  extractFollowers(tweet)

    
    return tweets_properties



def extractFollow(tweet):
    friends = {}
    
    user = api.get_user(str(tweet.user.screen_name))

    for friend in user.friends():
        friends["id"] = friend.id

        friends["author"] = friend.screen_name
        friends["created_at"] = friend.created_at

        friends["location"] = friend.location
        friends["description"] = friend.description
        friends["verified"] = friend.verified

        friends["followers"] = friend.followers_count
        friends["following"] = friend.friends_count
        friends["favourites_count"] = friend.favourites_count

        friends["statuses_count"] = friend.statuses_count
        friends["lang"] = friend.lang
        
    
    return json.dumps(friends, cls=DateTimeEncoder)


def extractFollowers(tweet):
    friends = {}
    
    user = api.get_user(str(tweet.user.screen_name))

    for friend in user.followers():
        friends["id"] = friend.id

        friends["author"] = friend.screen_name
        friends["created_at"] = friend.created_at

        friends["location"] = friend.location
        friends["description"] = friend.description
        friends["verified"] = friend.verified

        friends["followers"] = friend.followers_count
        friends["following"] = friend.friends_count
        friends["favourites_count"] = friend.favourites_count

        friends["statuses_count"] = friend.statuses_count
        friends["lang"] = friend.lang
        
    
    return json.dumps(friends, cls=DateTimeEncoder)

In [60]:
tweets = []
for tweet in tweepy.Cursor(api.search, "a", geocode="18.2208328,-66.5901489,150km").items(50):
    #attributes = ['author', 'contributors','coordinates', 'created_at','destroy','entities','favorite','favorite_count','favorited','geo','id','id_str','in_reply_to_screen_name','in_reply_to_status_id','in_reply_to_status_id_str','in_reply_to_user_id', 
             #         'in_reply_to_user_id_str', 'is_quote_status', 'lang','metadata', 'parse', 'parse_list''place', 'possibly_sensitive',
              #          'quoted_status', 'quoted_status_id','quoted_status_id_str','retweet','retweet_count','retweeted', 'retweets', 'source', 'source_url', 'text',
                #    'truncated','user']
    #tweets_properties["tweets"] = api.user_timeline(screen_name = user,count=200)
    tweets.append(extractUsers(tweet))

In [61]:
data = pd.DataFrame(tweets)

In [163]:
data.to_csv('users.csv')

In [62]:
data.head()

,id,author,created_at,location,description,verified,followers,following,favourites_count,statuses_count,lang,tweets,following_json,followers_json
0,900263426,claudiiaaaOriam,2012-10-23 17:24:10,"Naranjito, Puerto Rico",B.A Psicología Salud Mental de la Comunidad | ...,False,756,256,20906,49749,None,"[{""id"": 1382683650408517632, ""created_at"": ""20...","{""id"": 1348014558, ""author"": ""_juangaston"", ""c...","{""id"": 82449843, ""author"": ""vhg28"", ""created_a..."
1,1494105786,etrelas2orillas,2013-06-08 23:04:25,Santo Domingo,"Cubano, periodista, miembro del SIP, director ...",False,1419,4976,813,20441,None,"[{""id"": 1382401744609681409, ""created_at"": ""20...","{""id"": 800868968932196352, ""author"": ""JorgeVer...","{""id"": 1311727202229252097, ""author"": ""ene_ese..."
2,410867848,MikeJBknows,2011-11-12 17:43:51,Vegas,Thoughts on stuff. Might say nice things. Bili...,False,892,508,1025,151792,None,"[{""id"": 1382845383290675200, ""created_at"": ""20...","{""id"": 1040504452044738560, ""author"": ""KELVlN_...","{""id"": 4751054052, ""author"": ""lotus4791"", ""cre..."
3,153953059,jassiel00,2010-06-10 00:23:37,San Pedro de Macoris,:),False,283,615,2223,8424,None,"[{""id"": 1382496104248393730, ""created_at"": ""20...","{""id"": 31311757, ""author"": ""googlemaps"", ""crea...","{""id"": 800232950000283650, ""author"": ""Alexand1..."
4,1230144481518858244,yeishaaaa1,2020-02-19 14:58:05,,𝒑𝒓 | 𝒙𝒗𝒊,False,60,46,2381,1063,None,"[{""id"": 1382787564143263747, ""created_at"": ""20...","{""id"": 1204175597490053121, ""author"": ""Santinn...","{""id"": 1334596978769014784, ""author"": ""josephf..."

In [130]:
data.drop(["description", "tweets"], axis=1, inplace=True)

In [164]:
data.describe()
data.describe().to_csv('describe.csv')

,id,followers,following,favourites_count,statuses_count
count,5.000000e+01,50.000000,50.000000,50.00000,50.000000
mean,7.485169e+17,371.900000,435.740000,9547.50000,15986.820000
std,5.906725e+17,463.526775,573.524862,16616.96035,28684.547502
min,1.357054e+08,2.000000,14.000000,0.00000,12.000000
25%,1.910546e+09,48.750000,82.500000,447.50000,617.250000
50%,1.072996e+18,237.500000,236.000000,2491.50000,4610.500000
75%,1.293566e+18,586.500000,531.750000,8972.00000,14734.500000
max,1.357874e+18,2560.000000,2678.000000,75862.00000,113460.000000

In [131]:
print(data.to_latex(index=False))

\begin{tabular}{rllllrrrrl}
\toprule
                  id &           author &          created\_at &                 location &  verified &  followers &  following &  favourites\_count &  statuses\_count &  lang \\
\midrule
          3995716426 &       \_graaguiar & 2015-10-19 16:22:27 &   Belo Horizonte, Brasil &     False &        150 &        144 &              2153 &            7768 &  None \\
  945978917420191744 &      VickyWhatts & 2017-12-27 11:25:24 &      Rincón, Puerto Rico &     False &        110 &        193 &              9172 &            5568 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1399 &  None \\
          1064910806 &     elycancelled & 2013-01-06 06:07:11 &      Juncos, Puerto Rico &     False &       3138 &       2232 &            140132 &          178799 &  None \\
           585839238 &          vtjosss & 2012-05-20 15:37:29 &    San Juan, Puerto Rico &     False &        952 &        457 &              9733 &           29650 &  None \\
          3295703947 &   GeroMakesGames & 2015-07-26 16:57:36 &          Jacksonvile, FL &     False &       1038 &        702 &             79542 &           18249 &  None \\
          3005254034 &        ryann\_\_23 & 2015-01-31 18:52:39 &         Puerto Rico, USA &     False &        334 &        201 &              7930 &           12650 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1399 &  None \\
 1034153605971038208 &   JuniorBueno\_11 & 2018-08-27 19:00:08 &   anto Domingo de Guzmán &     False &        170 &        521 &               252 &             641 &  None \\
 1047528339685167104 &       vicktorm18 & 2018-10-03 16:46:33 &    Carolina, Puerto Rico &     False &         85 &        381 &              2463 &           18125 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1399 &  None \\
           159145271 &    Chris\_Benjiii & 2010-06-24 15:45:16 &                    Vegas &     False &       5334 &       1316 &              9976 &           28719 &  None \\
 1303118775047380995 &     sandersdsr24 & 2020-09-07 23:51:58 &    Guaynabo, Puerto Rico &     False &          2 &         42 &                14 &               4 &  None \\
            89231038 &       legsluquis & 2009-11-11 17:08:37 &    San Juan, Puerto Rico &     False &       2430 &       2137 &            121580 &          474266 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1399 &  None \\
          3138087932 &         elbinbli & 2015-04-03 22:44:55 &           Santo Domingo, &     False &        133 &        329 &              3144 &            8464 &  None \\
  897832059770732545 &       Katpasniss & 2017-08-16 14:46:58 &    New Brunswick, Canada &     False &        439 &       1175 &              4296 &           19887 &  None \\
           981293396 &      kristianbob & 2012-11-30 21:41:36 &            Vega Alta, PR &     False &       4671 &       1252 &             38351 &           18695 &  None \\
 1255824038393516034 &     Its\_the\_tuco & 2020-04-30 11:39:32 &                          &     False &        108 &        469 &              5640 &            3968 &  None \\
           256220892 &       djpanteraa & 2011-02-22 22:29:35 &            santo domingo &     False &         11 &         42 &                 3 &              30 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1401 &  None \\
  751098160563548160 &        GDinoshka & 2016-07-07 16:58:51 &     Bayamón, Puerto Rico &     False &        103 &        103 &               511 &            1659 &  None \\
  960009927354920962 &      lleonricart & 2018-02-04 04:39:37 &                    ponce &     False &        178 &        484 &              9997 &            3593 &  None \\
          4396385303 &     lesleycamile & 2015-12-06 18:04:32 &       Dominican republic &     False &        894 &        530 &              1815 &           15519 &  None \\
           144184728 &         aloonjro & 2010-05-15 14:58:35 &                          &     False &        540 &        213 &               904 &           53707 &  None \\
  963257352685277184 &        arleennet & 2018-02-13 03:43:44 &                          &     False &        614 &        195 &               767 &           11540 &  None \\
           403113439 &     CaRdSuNs1824 & 2011-11-02 01:31:33 &      Prescott Valley, AZ &     False &        151 &        503 &              4324 &            1401 &  None \\
           115842711 &          troy011 & 2010-02-20 04:34:45 &                          &     False &        168 &        703 &             68045 &            8313 &  None \\
          2788300815 &     Sepulvedbarb & 2014-09-28 01:39:49 &  Puerto Rico, pero pobre &     False &        177 &        273 &              1085 &           11148 &  None \\
 1240908301862387715 &  RocioAlvarez729 & 2020-03-20 07:49:42 &                          &     False &         78 &        346 &              8226 &            6402 &  None \\
          2963546214 &   Paddycakes1211 & 2015-01-07 17:45:28 &                          &     False &         66 &        388 &              2453 &            1193 &  None \\
  706291484073418754 &     adrianasalad & 2016-03-06 01:33:06 &              Puerto Rico &     False &         62 &         97 &              2505 &            1613 &  None \\
           182201392 &        Allegravi & 2010-08-24 02:01:26 &                          &     False &       2950 &        982 &              2090 &            1033 &  None \\
            14579952 &          bohique & 2008-04-29 03:35:19 &        Trujillo Alto, PR &     False &        917 &        868 &              5832 &           16564 &  None \\
 1306798879573241859 &  going\_streaming & 2020-09-18 03:35:24 &               The Bottom &     False &         18 &         29 &                46 &             161 &  None \\
 1252816946308935687 &        stonk\_the & 2020-04-22 04:30:24 &                          &     False &        129 &        439 &             34471 &           21830 &  None \\
 1081770879917400064 &  TalentlessHumor & 2019-01-06 04:34:10 &                          &     False &         45 &        229 &              7332 &            2497 &  None \\
          1554358326 &  Jorge\_SupercaLs & 2013-06-29 00:51:08 &      Puerto Rico, Ponce  &     False &       1103 &        391 &             36070 &           68808 &  None \\
           286940270 &      EricAracena & 2011-04-24 00:54:25 &                          &     False &       1668 &       5001 &              3533 &           11139 &  None \\
           114087302 &           nplrrr & 2010-02-14 02:59:12 &        Moca, Puerto Rico &     False &        818 &        525 &             18894 &           57207 &  None \\
          2670591121 &         Gypology & 2014-07-22 20:33:27 &                   Vegas  &     False &       3121 &       3447 &              1787 &          162710 &  None \\
           256220892 &       djpanteraa & 2011-02-22 22:29:35 &            santo domingo &     False &         11 &         42 &                 3 &              30 &  None \\
            84301707 &        Frank\_SDQ & 2009-10-22 11:23:49 &            Santo Domingo &     False &        397 &        722 &               793 &            3050 &  None \\
 1105910129424285699 &          veexen\_ & 2019-03-13 19:14:56 &              Puerto Rico &     False &       3072 &        130 &              1345 &            8357 &  None \\
           526755670 &          clrcmrt & 2012-03-16 20:15:50 &            Santo Domingo &     False &        366 &        138 &              2183 &           17541 &  None \\
          1072607684 &   MARIBELABRAHAM & 2013-01-09 02:21:12 &     Rep.dom.---la Romana &     False &         92 &        439 &               926 &            1182 &  None \\
          1072607684 &   MARIBELABRAHAM & 2013-01-09 02:21:12 &     Rep.dom.---la Romana &     False &         92 &        439 &               926 &            1182 &  None \\
          1072607684 &   MARIBELABRAHAM & 2013-01-09 02:21:12 &     Rep.dom.---la Romana &     False &         92 &        439 &               926 &            1182 &  None \\
  696829595983749120 &         ilkeradz & 2016-02-08 22:54:56 &                 Noroeste &     False &         55 &        107 &             28408 &            7513 &  None \\
          1439476676 &       anivette12 & 2013-05-18 21:16:41 &              Puerto Rico &     False &        237 &        140 &              2188 &           11877 &  None \\
\bottomrule
\end{tabular}

In [13]:
dir(tweets[1])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_api',
 '_json',
 'author',
 'contributors',
 'coordinates',
 'created_at',
 'destroy',
 'entities',
 'favorite',
 'favorite_count',
 'favorited',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'metadata',
 'parse',
 'parse_list',
 'place',
 'possibly_sensitive',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'retweet',
 'retweet_count',
 'retweeted',
 'retweets',
 'source',
 'source_url',
 'text',
 'truncated',
 'user']

In [166]:
for tweets in data.tweets:
    tweets.to_csv("tweets.csv")
    break

In [12]:
tweets_data.head()

                                                   0
0  Status(_api=<tweepy.api.API object at 0x000002...
1  Status(_api=<tweepy.api.API object at 0x000002...
2  Status(_api=<tweepy.api.API object at 0x000002...
3  Status(_api=<tweepy.api.API object at 0x000002...
4  Status(_api=<tweepy.api.API object at 0x000002...

In [6]:
import pyodbc

In [21]:
server = 'sqldatamining.database.windows.net'
database = 'SNA'
username = 'UserAdmin'
password = 'Machomen123'   
driver= '{ODBC Driver 17 for SQL Server}'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=sqldatamining.database.windows.net,1433', user='UserAdmin' , password='Machomen123', database='SNA')

NameError: name 'pyodbc' is not defined

In [8]:
cursor = cnxn.cursor()

In [63]:
import sqlalchemy

In [64]:
engine = sqlalchemy.create_engine("mssql+pyodbc://UserAdmin:Machomen123@sqldatamining.database.windows.net:1433/SNA?driver=SQL Server", echo=False)

engine.connect()

In [12]:
data.drop(["tweets"], inplace=True, axis=1)

In [65]:
# write the DataFrame to a table in the sql database
data.to_sql("Users", engine, if_exists="append", index=False)

In [78]:
c = 0
for x in data["tweets"]:
    a = pd.read_json(x)
    a.tail()
    if(c==50):
        break
    c +=1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
14,1381080319143579648,2021-04-11 03:03:01,Tienen que aceptar que Bad Bunny se ve bien pe...,NaN,NaN,claudiiaaaOriam,0,6
15,1380906212259196936,2021-04-10 15:31:11,RT @badleilaa: Mujeres no le regalen los mejor...,NaN,NaN,claudiiaaaOriam,671,0
16,1380522369781993474,2021-04-09 14:05:56,Siempre pensé que era la única que le pasaba e...,NaN,NaN,claudiiaaaOriam,0,1
17,1380489264648048642,2021-04-09 11:54:23,RT @sussooss: No estabas a dieta???????\nYo: h...,NaN,NaN,claudiiaaaOriam,12439,0
18,1380489173711396868,2021-04-09 11:54:01,RT @kristianbob: Cuando sigues las direcciones...,NaN,NaN,claudiiaaaOriam,103,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
26,1380614657241714690,2021-04-09 20:12:39,¿Y entonces? https://t.co/ydG6IhUwl8,NaN,NaN,etrelas2orillas,0,0
27,1380602313321107462,2021-04-09 19:23:36,"MÁS ""CASUALIDADES"" NAVEGAN A BORDO DEL EVERGR...",NaN,NaN,etrelas2orillas,0,0
28,1380549756477390850,2021-04-09 15:54:45,DESCARO INTOLERABLE DE #CNN\nEstos panfleteros...,NaN,NaN,etrelas2orillas,0,0
29,1380524335081869314,2021-04-09 14:13:45,Y entonces? Dicen que hace unos años habían v...,NaN,NaN,etrelas2orillas,0,0
30,1380521801588019203,2021-04-09 14:03:41,ELLOS NECESITAN DEL FRAUDE ELECTORAL PARA OBTE...,NaN,NaN,etrelas2orillas,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381439342049038337,2021-04-12 02:49:39,Edge's white Mania fit. 🔥🔥🔥 #UniversalTitle #W...,NaN,NaN,MikeJBknows,0,0
296,1381438938900963333,2021-04-12 02:48:03,I legit just got goosebumps. #Edge #UniversalT...,NaN,NaN,MikeJBknows,0,0
297,1381438767781666817,2021-04-12 02:47:22,🗣ON THIS DAY! I SEE CLEARLY! #RatedRSuperstar ...,NaN,NaN,MikeJBknows,0,0
298,1381438565964337152,2021-04-12 02:46:34,🗣 YOU THINK YOU KNOW ME! #UniversalTitle #Wre...,NaN,NaN,MikeJBknows,0,0
299,1381438352205905923,2021-04-12 02:45:43,I really hope they didn't sub out the return o...,NaN,NaN,MikeJBknows,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
17,1381374141165670404,2021-04-11 22:30:34,"No existe cosa, más hermosa, ni una rosa; comp...",NaN,NaN,jassiel00,0,0
18,1381042651156377600,2021-04-11 00:33:21,"@DoctorFarola Es más probable, que el ser huma...",NaN,NaN,jassiel00,0,0
19,1380944550492053506,2021-04-10 18:03:32,@Batisbriel13 Ya voy,NaN,NaN,jassiel00,0,0
20,1380920429351727108,2021-04-10 16:27:41,Okay https://t.co/Bs03Ni25P8,NaN,NaN,jassiel00,0,0
21,1380586865540104194,2021-04-09 18:22:13,"@EuricSanti Obvio, están haciendo más pruebas XD",NaN,NaN,jassiel00,0,5

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
45,1380509778414293000,2021-04-09 13:15:54,RT @giovannelyss: “respondió tu historia” \n“t...,NaN,NaN,yeishaaaa1,5,0
46,1380509539611652103,2021-04-09 13:14:57,RT @NattiNatasha: 👑 #Royalty https://t.co/VU2u...,NaN,NaN,yeishaaaa1,577,0
47,1380509448343535623,2021-04-09 13:14:35,RT @kdecasillas: *suben los contagios y el gob...,NaN,NaN,yeishaaaa1,1059,0
48,1380508919487942663,2021-04-09 13:12:29,RT @lfvm26: conmigo tendrás la combi completa:...,NaN,NaN,yeishaaaa1,523,0
49,1380508823035785223,2021-04-09 13:12:06,RT @Lgantekeloke: uno se entera de todo y sin ...,NaN,NaN,yeishaaaa1,5350,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381434828801912834,2021-04-12 02:31:43,@FloritRicardo Top 20 but not 1,NaN,NaN,dbinkowski,0,1
296,1381434727169687559,2021-04-12 02:31:19,@m___ceci Six Feet Under is amazing,NaN,NaN,dbinkowski,0,1
297,1381433812140298243,2021-04-12 02:27:41,@TrikkiVic Top 10 but not 1,NaN,NaN,dbinkowski,0,1
298,1381433752568610823,2021-04-12 02:27:27,"@TrikkiVic That's in Mexico, right? 🙃",NaN,NaN,dbinkowski,0,4
299,1381433644158423044,2021-04-12 02:27:01,@FloritRicardo How do think I live my life,NaN,NaN,dbinkowski,0,1

Empty DataFrame
Columns: []
Index: []

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
107,1380475575077322753,2021-04-09 10:59:59,Indicó que todo está sustentado por el plan de...,NaN,NaN,Antena7oficial,0,1
108,1380471632800714753,2021-04-09 10:44:19,Fueron desalojados por la alcaldía de Santo Do...,NaN,NaN,Antena7oficial,0,1
109,1380469899634565122,2021-04-09 10:37:26,Exigió justicia en contra de fabricantes y dis...,NaN,NaN,Antena7oficial,0,0
110,1380468115763511298,2021-04-09 10:30:21,Los agentes decomisaron más de 23 mil litros d...,NaN,NaN,Antena7oficial,0,0
111,1380466077751242752,2021-04-09 10:22:15,Los fallecidos son originaros de varias comuni...,NaN,NaN,Antena7oficial,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382168016847319041,2021-04-14 03:05:09,Si vez que desaparezco... no te preocupes esto...,NaN,NaN,aulet12,0,1
1,1381437752349184001,2021-04-12 02:43:20,Mardita sea el mmb de Jose hostia @Joseadames33,NaN,NaN,aulet12,0,0
2,1380410524672913410,2021-04-09 06:41:30,Gracias al cb COVID no puedo hacer cosas que s...,NaN,NaN,aulet12,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
86,1380377481832587273,2021-04-09 04:30:12,@NathanCHubbard The mixing has been my fave pa...,NaN,NaN,MeVinceG,0,3
87,1380374445886373892,2021-04-09 04:18:08,This is so much better than I imagined it woul...,NaN,NaN,MeVinceG,0,1
88,1380372747239350273,2021-04-09 04:11:23,@mhinojosa8 @NathanCHubbard It was my 2nd choi...,NaN,NaN,MeVinceG,0,0
89,1380372621850681348,2021-04-09 04:10:53,Why the fuck was “That’s When” not a single? T...,NaN,NaN,MeVinceG,0,1
90,1380371797963509761,2021-04-09 04:07:37,@NathanCHubbard How was this song not released...,NaN,NaN,MeVinceG,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381802826112843778,2021-04-13 02:54:01,@omarcerquillo Pa lo queeee... Jaamaaaaaas.......,NaN,NaN,EstherAMatos,0,1
296,1381802213010444288,2021-04-13 02:51:34,5 a 3 en el 10mo...la de la sal soy yo 😩,NaN,NaN,EstherAMatos,0,0
297,1381801235091705859,2021-04-13 02:47:41,https://t.co/NVOuo6kzN0 https://t.co/5XN4BPXsY4,NaN,NaN,EstherAMatos,0,0
298,1381800082740293636,2021-04-13 02:43:06,RT @MannyUceta: @elviejo_ed Hay que usar el ap...,NaN,NaN,EstherAMatos,7,0
299,1381800004369678339,2021-04-13 02:42:48,@MrMonoMendez Deben estar acostumbrados,NaN,NaN,EstherAMatos,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
12,1380572818170114056,2021-04-09 17:26:24,@NavedoJonathan Jajjaja,NaN,NaN,00luiso,0,0
13,1380470632182341633,2021-04-09 10:40:21,RT @DeLaGhettoReal: Aveces las pérsonas se olv...,NaN,NaN,00luiso,347,0
14,1380440493239234560,2021-04-09 08:40:35,Hp tu no tiene dos caras tu tiene un millon. ! 😂,NaN,NaN,00luiso,2,3
15,1380389213267496961,2021-04-09 05:16:49,@nedal___ Jajjajaja ponte a jugar es,NaN,NaN,00luiso,0,0
16,1380382299024396288,2021-04-09 04:49:21,@nedal___ lambebichito aprende a jugar,NaN,NaN,00luiso,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1382307066967113732,2021-04-14 12:17:41,RT @meteofrance: Visite de @J_Denormandie @Emm...,NaN,NaN,Mel_Storni,10,0
296,1382302339898470403,2021-04-14 11:58:54,RT @johnminchillo: Scenes from the clashes out...,NaN,NaN,Mel_Storni,9,0
297,1382302333942571008,2021-04-14 11:58:53,RT @SismoDetector: #sismo reportado por los us...,NaN,NaN,Mel_Storni,1,0
298,1382300160563236866,2021-04-14 11:50:14,RT @AP: Virus update: \n• Biden: J&amp;J pause...,NaN,NaN,Mel_Storni,36,0
299,1382294300889862146,2021-04-14 11:26:57,RT @Arcdelahistori: Anuncio para la marca de c...,NaN,NaN,Mel_Storni,19,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
22,1381018410700713984,2021-04-10 22:57:01,@CBSThisMorning @annawerner @SenSchumer,NaN,NaN,IvanRodri1985,0,0
23,1381018235177472002,2021-04-10 22:56:20,@CBSThisMorning @annawerner @AOC @SpeakerPelosi,NaN,NaN,IvanRodri1985,0,0
24,1380971580705140743,2021-04-10 19:50:56,RT @JulianCastro: Army Lt. Nazario was driving...,NaN,NaN,IvanRodri1985,41213,0
25,1380690369852096517,2021-04-10 01:13:30,"RT @gueraderanch0: Yo: Papá, lava tu plato\nMi...",NaN,NaN,IvanRodri1985,14901,0
26,1380642101432627202,2021-04-09 22:01:42,RT @MiguelRiosPUR: El gobierno forzó el retorn...,NaN,NaN,IvanRodri1985,134,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
22,1380608309904998407,2021-04-09 19:47:26,RT @shreketc: 🌻🌼 https://t.co/XFm9tcho0X,NaN,NaN,MurryGurrett,44595,0
23,1380607058425315330,2021-04-09 19:42:27,RT @MurryGurrett: Great things are waiting for...,NaN,NaN,MurryGurrett,1,0
24,1380602069707595777,2021-04-09 19:22:38,@OlivasBrooklyn My suegra was down and about f...,NaN,NaN,MurryGurrett,0,1
25,1380601890518470661,2021-04-09 19:21:55,"@sarv_chai Put me ON with your hair stylist, I...",NaN,NaN,MurryGurrett,0,1
26,1380571592355381250,2021-04-09 17:21:32,@sarv_chai Rtrtrtrt,NaN,NaN,MurryGurrett,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
27,1380381364277673984,2021-04-09 04:45:38,RT @alonnr_: por mi ya todo se puede ir al mis...,NaN,NaN,krystel_HN,3,0
28,1380380576390189059,2021-04-09 04:42:30,Maldito infeliz.,NaN,NaN,krystel_HN,0,0
29,1380380516294258688,2021-04-09 04:42:15,Yo voy a terminar loca pero este hijo de puta ...,NaN,NaN,krystel_HN,0,0
30,1380380419334533123,2021-04-09 04:41:52,RT @ihonestqueen: Yo creo que las cosas duelen...,NaN,NaN,krystel_HN,536,0
31,1380371670792290307,2021-04-09 04:07:07,@willianys__ Te escribo ahora😩,NaN,NaN,krystel_HN,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382511196591493120,2021-04-15 01:48:49,Ahora a ver como termina esto entre Mauricio y...,NaN,NaN,MarielieCortes,0,9
1,1382506141595353088,2021-04-15 01:28:44,"Hasta que por fin habló Lorenzo, cuál será la ...",NaN,NaN,MarielieCortes,0,2
2,1382502587040161796,2021-04-15 01:14:37,La cara de Mauricio cuando ve a Dany modelando...,NaN,NaN,MarielieCortes,0,13
3,1382146571635208200,2021-04-14 01:39:56,"No es por nada pero, Dany tiene un super cuerp...",NaN,NaN,MarielieCortes,0,4

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
21,1380586461246930948,2021-04-09 18:20:37,@josecasadosoto Diomy! @DiomaryLaMala,NaN,NaN,YoniCruz64,0,0
22,1380585521303412738,2021-04-09 18:16:52,@dariomartinezb Siempre recuerdo cuando me con...,NaN,NaN,YoniCruz64,0,1
23,1380574210414743552,2021-04-09 17:31:56,@jorgesuberoisa Como que ese amigo debía darse...,NaN,NaN,YoniCruz64,0,0
24,1380555322352414722,2021-04-09 16:16:52,@AmaditaLab Yo hice mi queja con quien me aten...,NaN,NaN,YoniCruz64,0,0
25,1380553982523887619,2021-04-09 16:11:33,@FedericoJovine ¿Y las madres no? La ley 136-0...,NaN,NaN,YoniCruz64,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
21,1380586461246930948,2021-04-09 18:20:37,@josecasadosoto Diomy! @DiomaryLaMala,NaN,NaN,YoniCruz64,0,0
22,1380585521303412738,2021-04-09 18:16:52,@dariomartinezb Siempre recuerdo cuando me con...,NaN,NaN,YoniCruz64,0,1
23,1380574210414743552,2021-04-09 17:31:56,@jorgesuberoisa Como que ese amigo debía darse...,NaN,NaN,YoniCruz64,0,0
24,1380555322352414722,2021-04-09 16:16:52,@AmaditaLab Yo hice mi queja con quien me aten...,NaN,NaN,YoniCruz64,0,0
25,1380553982523887619,2021-04-09 16:11:33,@FedericoJovine ¿Y las madres no? La ley 136-0...,NaN,NaN,YoniCruz64,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382664591902175234,2021-04-15 11:58:22,"Ante posible privatización de peajes, la Comis...",NaN,NaN,minhpuertorico,1,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
83,1380576603458179073,2021-04-09 17:41:26,RT @caelitorres: YHLQMDLG con el permiso de mi...,NaN,NaN,yrvrz25,7121,0
84,1380398954978885636,2021-04-09 05:55:32,RT @LetraEspacial: mi prioridad ahora mismo so...,NaN,NaN,yrvrz25,2385,0
85,1380398728142585856,2021-04-09 05:54:38,RT @aliceagpr: hay días que el alma duele y un...,NaN,NaN,yrvrz25,51,0
86,1380396640033443841,2021-04-09 05:46:20,RT @luciacoscaa: q te quieran tan bien q no te...,NaN,NaN,yrvrz25,10406,0
87,1380396583284531208,2021-04-09 05:46:06,"RT @c40ss: q paz da ver los atardeceres, la lu...",NaN,NaN,yrvrz25,10470,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
101,1380628317427142657,2021-04-09 21:06:56,@luijnav Would recommend,NaN,NaN,_javc30,0,1
102,1380628266126618627,2021-04-09 21:06:44,RT @alondramcn: lo fácil que se me está hacien...,NaN,NaN,_javc30,13,0
103,1380625424376590338,2021-04-09 20:55:26,RT @GraceMariie2: El cuerpo logra lo que la me...,NaN,NaN,_javc30,37,0
104,1380548720190709763,2021-04-09 15:50:38,😪 https://t.co/VmaFFfCaSg,NaN,NaN,_javc30,1,1
105,1380471445390770187,2021-04-09 10:43:35,"RT @c40ss: q paz da ver los atardeceres, la lu...",NaN,NaN,_javc30,10470,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
68,1380374436218433537,2021-04-09 04:18:06,THE LAUGH,NaN,NaN,KylesHaim,0,0
69,1380372738850746368,2021-04-09 04:11:21,@feattayIorswift https://t.co/kIUuI0srv4,NaN,NaN,KylesHaim,0,1
70,1380372602045140994,2021-04-09 04:10:49,TAKE A DEEP BREATH GIRL,NaN,NaN,KylesHaim,0,4
71,1380372472042692608,2021-04-09 04:10:18,RT @exilenarry: https://t.co/BHxgGh3Dj2,NaN,NaN,KylesHaim,2581,0
72,1380370656588558338,2021-04-09 04:03:05,HER VOICE,NaN,NaN,KylesHaim,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382728847729295362,2021-04-15 16:13:41,#tbt en la produccion de Edith Piaf haciendo d...,"{'type': 'Point', 'coordinates': [-66.06986761...","{'type': 'Point', 'coordinates': [18.4288252, ...",FZamoraTV,0,0
1,1382082551435579393,2021-04-13 21:25:32,@myraidachaves te conozco desde siempre y esa ...,"{'type': 'Point', 'coordinates': [-66.08130275...","{'type': 'Point', 'coordinates': [18.45294025,...",FZamoraTV,0,0
2,1381229576806928385,2021-04-11 12:56:07,Just posted a photo @ Astra Studios https://t....,"{'type': 'Point', 'coordinates': [-66.06986761...","{'type': 'Point', 'coordinates': [18.4288252, ...",FZamoraTV,0,0
3,1381056631945977861,2021-04-11 01:28:54,...still I’m a team player! @ Moramor De Reyes...,"{'type': 'Point', 'coordinates': [-66.08130275...","{'type': 'Point', 'coordinates': [18.45294025,...",FZamoraTV,0,0
4,1380655501789294594,2021-04-09 22:54:57,OMG que rico reconectar con geste que uno tant...,"{'type': 'Point', 'coordinates': [-66.06986761...","{'type': 'Point', 'coordinates': [18.4288252, ...",FZamoraTV,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
105,1380608227944103938,2021-04-09 19:47:06,RT @itsbriancuh: Me when I’m done taking pictu...,NaN,NaN,anmrpg,63475,0
106,1380608162584264705,2021-04-09 19:46:51,RT @shreketc: 🌻🌼 https://t.co/XFm9tcho0X,NaN,NaN,anmrpg,44595,0
107,1380547153731448835,2021-04-09 15:44:25,RT @PrideOfLR: Dude... https://t.co/kXuzRJXOOz,NaN,NaN,anmrpg,33280,0
108,1380546972826927104,2021-04-09 15:43:42,RT @NdotUno: NOW... someone who UNDERSTANDS th...,NaN,NaN,anmrpg,40760,0
109,1380546653627809801,2021-04-09 15:42:26,RT @lizzielmz: My great grandfather chopping w...,NaN,NaN,anmrpg,18602,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
21,1380872153155956741,2021-04-10 13:15:51,Soy la única que se mete a google a leer cosas...,NaN,NaN,___vazquezmarie,0,0
22,1380725009723895810,2021-04-10 03:31:09,Comer borracha hace que la comida sepa mil vec...,NaN,NaN,___vazquezmarie,1,0
23,1380703772880568328,2021-04-10 02:06:46,Amo todo ❤️,NaN,NaN,___vazquezmarie,0,0
24,1380490654569148420,2021-04-09 11:59:54,Quiero volver a la cama.,NaN,NaN,___vazquezmarie,0,0
25,1380445432506155008,2021-04-09 09:00:13,Ojalá pudiera dormir mi ciclo completo de sueñ...,NaN,NaN,___vazquezmarie,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
99,1380501141729988608,2021-04-09 12:41:35,"@TorresGotay ¿Qué dirán los de ""A mis hijos lo...",NaN,NaN,rivetteher,3,13
100,1380499125075128325,2021-04-09 12:33:34,RT @TorresGotay: Puerto Rico amaneció hoy con ...,NaN,NaN,rivetteher,51,0
101,1380490249965539331,2021-04-09 11:58:18,💉⚰️⚰️⚰️⚰️⚰️,NaN,NaN,rivetteher,0,0
102,1380490014392520705,2021-04-09 11:57:22,RT @RoyalFamily: It is with deep sorrow that H...,NaN,NaN,rivetteher,191627,0
103,1380489949632417794,2021-04-09 11:57:06,RT @TorresGotay: Murió a los 99 años el prínci...,NaN,NaN,rivetteher,4,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
8,1381057024688001026,2021-04-11 01:30:28,"RT @31Eviis: No somos nada, pero t comes a otr...",NaN,NaN,dylanalbano_,4607,0
9,1381054877707743232,2021-04-11 01:21:56,RT @Facu_1098: Volvemos a fase 1 y me hago tik...,NaN,NaN,dylanalbano_,3065,0
10,1381053814027980800,2021-04-11 01:17:42,RT @TruenoOficialx: Me amarias aun sabiendo qu...,NaN,NaN,dylanalbano_,204,0
11,1381036106335014917,2021-04-11 00:07:20,RT @agustinamullerr: Sos enfermit o te cagas e...,NaN,NaN,dylanalbano_,2,0
12,1381029654228787200,2021-04-10 23:41:42,RT @joacobeniitez: DIFÍCIL ES CERRAR LA PUERTA...,NaN,NaN,dylanalbano_,8291,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
86,1380585557336719367,2021-04-09 18:17:01,@CMG_Esports @LazoGussT @fxantasy_,NaN,NaN,MVPbusta,0,0
87,1380585427158114308,2021-04-09 18:16:30,RT @SupeeR_3: Si ganamos la open de mañana doy...,NaN,NaN,MVPbusta,130,0
88,1380555255683907586,2021-04-09 16:16:37,RT @AutentiiEsport: Entren a compartir esta no...,NaN,NaN,MVPbusta,3,0
89,1380550032361938947,2021-04-09 15:55:51,RT @xSavageaL: Fue un Gran día de Cod esperand...,NaN,NaN,MVPbusta,3,0
90,1380381016330735624,2021-04-09 04:44:15,RT @atrahre: Lo mejor de llegar a casa ❤️ http...,NaN,NaN,MVPbusta,9474,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382133315533148163,2021-04-14 00:47:15,"RT @tayyyylin: otra mañana sin los $1,400",NaN,NaN,BertitoEl,13,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
125,1380562127883276288,2021-04-09 16:43:55,Petróleo #WTI \nContrato 05-2021 sigue hoy vie...,NaN,NaN,HebrardH,0,0
126,1380504798609485829,2021-04-09 12:56:07,#Euro abre hoy viernes con sensible toma de be...,NaN,NaN,HebrardH,1,1
127,1380504179840585728,2021-04-09 12:53:39,#ORO Contrato 06-2021 abre hoy viernes borrand...,NaN,NaN,HebrardH,0,1
128,1380503281131253761,2021-04-09 12:50:05,Petróleo #WTI \nContrato 05-2021 abre hoy vier...,NaN,NaN,HebrardH,0,1
129,1380502559337684995,2021-04-09 12:47:13,US$ vs. RD$: @BancoCentralRD abre hoy viernes ...,NaN,NaN,HebrardH,2,5

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
29,1380572403542196227,2021-04-09 17:24:45,@dioastacio Me tiro a cualquier lado después q...,NaN,NaN,eugeniocedeno,0,0
30,1380571203505680389,2021-04-09 17:19:59,@lizzye82 4,NaN,NaN,eugeniocedeno,0,0
31,1380570999817711620,2021-04-09 17:19:10,"No es sensato desvestir un santo, para vestir ...",NaN,NaN,eugeniocedeno,0,7
32,1380498285870342144,2021-04-09 12:30:14,Esa manera de “informar” hace un daño irrepara...,NaN,NaN,eugeniocedeno,0,4
33,1380497652660514818,2021-04-09 12:27:43,Los medios de comunicación yerran cuando se re...,NaN,NaN,eugeniocedeno,0,12

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381439342049038337,2021-04-12 02:49:39,Edge's white Mania fit. 🔥🔥🔥 #UniversalTitle #W...,NaN,NaN,MikeJBknows,0,0
296,1381438938900963333,2021-04-12 02:48:03,I legit just got goosebumps. #Edge #UniversalT...,NaN,NaN,MikeJBknows,0,0
297,1381438767781666817,2021-04-12 02:47:22,🗣ON THIS DAY! I SEE CLEARLY! #RatedRSuperstar ...,NaN,NaN,MikeJBknows,0,0
298,1381438565964337152,2021-04-12 02:46:34,🗣 YOU THINK YOU KNOW ME! #UniversalTitle #Wre...,NaN,NaN,MikeJBknows,0,0
299,1381438352205905923,2021-04-12 02:45:43,I really hope they didn't sub out the return o...,NaN,NaN,MikeJBknows,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
103,1380485742313492481,2021-04-09 11:40:23,@martiansoil @tomgauld @TheMarsSociety i'm get...,NaN,NaN,JuanIsidro,0,5
104,1380485168557916164,2021-04-09 11:38:07,7 de Marzo: Harry y Meghan denuncian que su be...,NaN,NaN,JuanIsidro,1,23
105,1380475532685549574,2021-04-09 10:59:49,@mtracey it's all a grift. always has been. a ...,NaN,NaN,JuanIsidro,0,56
106,1380474775533944838,2021-04-09 10:56:49,@Grupoviamar Bien de Rocket League.,NaN,NaN,JuanIsidro,0,1
107,1380474700254609411,2021-04-09 10:56:31,¿Alguien recuerda esta serie? https://t.co/sEY...,NaN,NaN,JuanIsidro,1,11

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
23,1380891467070255107,2021-04-10 14:32:36,RT @krishalee3: lo único que tengo en mi mente...,NaN,NaN,neilzaj_,607,0
24,1380711442236719105,2021-04-10 02:37:14,RT @martuugimenez_: no les pasa que ven a su a...,NaN,NaN,neilzaj_,27062,0
25,1380711283113263105,2021-04-10 02:36:36,RT @manueel360: estoy haciendo chavos cc ahora...,NaN,NaN,neilzaj_,3,0
26,1380711078284439554,2021-04-10 02:35:48,RT @anaissns: malcría pero sensible,NaN,NaN,neilzaj_,304,0
27,1380541985145167876,2021-04-09 15:23:53,me niego a trabajar hoy,NaN,NaN,neilzaj_,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
47,1381115708726247425,2021-04-11 05:23:39,@pldsequeda2020 Gonzalo Castillo,NaN,NaN,victoriaverasrd,1,4
48,1381115148832800769,2021-04-11 05:21:26,"Secretario general del PLD, Charlie Mariotti, ...",NaN,NaN,victoriaverasrd,6,12
49,1381113813504827392,2021-04-11 05:16:07,Consumo de alcohol adulterado causa 47 muertes...,NaN,NaN,victoriaverasrd,3,3
50,1381113724891770882,2021-04-11 05:15:46,Restablecen paso a comunidades estaban aislada...,NaN,NaN,victoriaverasrd,3,3
51,1381113267599388678,2021-04-11 05:13:57,En pleno palacio hay un funcionario que alega ...,NaN,NaN,victoriaverasrd,4,4

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381802826112843778,2021-04-13 02:54:01,@omarcerquillo Pa lo queeee... Jaamaaaaaas.......,NaN,NaN,EstherAMatos,0,1
296,1381802213010444288,2021-04-13 02:51:34,5 a 3 en el 10mo...la de la sal soy yo 😩,NaN,NaN,EstherAMatos,0,0
297,1381801235091705859,2021-04-13 02:47:41,https://t.co/NVOuo6kzN0 https://t.co/5XN4BPXsY4,NaN,NaN,EstherAMatos,0,0
298,1381800082740293636,2021-04-13 02:43:06,RT @MannyUceta: @elviejo_ed Hay que usar el ap...,NaN,NaN,EstherAMatos,7,0
299,1381800004369678339,2021-04-13 02:42:48,@MrMonoMendez Deben estar acostumbrados,NaN,NaN,EstherAMatos,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
0,1382299087404425217,2021-04-14 11:45:58,RT @robertoaes: Informe de nuevo Código Penal ...,NaN,NaN,JDVSMRD,36,0
1,1381796929894559751,2021-04-13 02:30:35,RT @Esmy7: 2da causal: Malformación... Aun a l...,NaN,NaN,JDVSMRD,12,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
121,1380507478987845633,2021-04-09 13:06:46,Resultados de la jornada de anoche #NBA https:...,NaN,NaN,Jeanpierrefa30,0,0
122,1380507160308817922,2021-04-09 13:05:30,Interesante! https://t.co/Zkqx4zQQW1,NaN,NaN,Jeanpierrefa30,0,0
123,1380500605156876295,2021-04-09 12:39:27,@arylandestoy de Barahona verdad?,NaN,NaN,Jeanpierrefa30,0,1
124,1380499380554334212,2021-04-09 12:34:35,"@arylandestoy perdona que me entrometa, el est...",NaN,NaN,Jeanpierrefa30,0,1
125,1380496852521529345,2021-04-09 12:24:32,Buen Dia!!,NaN,NaN,Jeanpierrefa30,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
59,1380652315212800000,2021-04-09 22:42:17,RT @sussooss: tengo un problema muy serio con ...,NaN,NaN,claryysooll,26398,0
60,1380478956403580938,2021-04-09 11:13:25,RT @__rickie_: En las malas no hay nadie en la...,NaN,NaN,claryysooll,169,0
61,1380478768830107648,2021-04-09 11:12:41,"RT @F3lo_Rivera: Esto no puede ser, no puede s...",NaN,NaN,claryysooll,439,0
62,1380478703348645893,2021-04-09 11:12:25,RT @sussooss: No estabas a dieta???????\nYo: h...,NaN,NaN,claryysooll,12439,0
63,1380477933756768258,2021-04-09 11:09:22,RT @nmarierr: yo soy segunda opción hasta en a...,NaN,NaN,claryysooll,434,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
1,1382337768194465798,2021-04-14 14:19:41,@nayeliscortes4 Bye,NaN,NaN,19Giovaniel,0,1
2,1381961220517998598,2021-04-13 13:23:25,Esa mierda de querer dejar de ver una serie po...,NaN,NaN,19Giovaniel,0,0
3,1381441165900316682,2021-04-12 02:56:54,@monacrz Yep!,NaN,NaN,19Giovaniel,0,0
4,1381440383427735552,2021-04-12 02:53:47,@monacrz Chica si ya anunciaron los países,NaN,NaN,19Giovaniel,0,0
5,1381437485658611719,2021-04-12 02:42:17,@monacrz No viene a PR🥰🥰🥰🥰🥰🥰🥰🥰🥰,NaN,NaN,19Giovaniel,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
53,1380708743382511618,2021-04-10 02:26:31,😍😍 @maluma @ManuelTurizoMTZ https://t.co/l3FiC...,NaN,NaN,Germania29,0,0
54,1380673863944638466,2021-04-10 00:07:55,Pero Maluma es lindo ahora que me fijo.,NaN,NaN,Germania29,0,0
55,1380667301251416070,2021-04-09 23:41:50,"RT @lissettee_19: Orar, esperar, confiar, agra...",NaN,NaN,Germania29,27,0
56,1380631067539951634,2021-04-09 21:17:52,RT @Ricardovvcc: el COVID está matando la mejo...,NaN,NaN,Germania29,18521,0
57,1380620525874073605,2021-04-09 20:35:58,😅😅 https://t.co/yRcDDbh2uC,NaN,NaN,Germania29,0,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
295,1381405431097008128,2021-04-12 00:34:54,"RT @JorgeIsaacSant4: @LcdoCorona Muy Cierto,se...",NaN,NaN,elinadine1,2,0
296,1381405114083143681,2021-04-12 00:33:39,RT @Charleston15: @LcdoCorona Por eso me parec...,NaN,NaN,elinadine1,2,0
297,1381404691255291904,2021-04-12 00:31:58,"@maderomero813 @irisiri_8 Lamentablemente,la o...",NaN,NaN,elinadine1,2,3
298,1381384309316050946,2021-04-11 23:10:58,"@boina_2 Según la foto,todos son adultos y dec...",NaN,NaN,elinadine1,0,2
299,1381383703360806912,2021-04-11 23:08:34,"Me temo que PR hay que desecharlo,echarlo a pé...",NaN,NaN,elinadine1,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
25,1380929288678047747,2021-04-10 17:02:53,RT @LetraEspacial: está pa ver Netflix y dejar...,NaN,NaN,taneisha21,2098,0
26,1380688584773099525,2021-04-10 01:06:25,RT @ismaryanet: Las redes aguantan todos los e...,NaN,NaN,taneisha21,185,0
27,1380608995644293122,2021-04-09 19:50:09,Me acaban de decir que tengo ojos brujos!,NaN,NaN,taneisha21,0,0
28,1380540797150507019,2021-04-09 15:19:09,RT @queseyomano: Con 22 trapos de años &amp; s...,NaN,NaN,taneisha21,612,0
29,1380399308181282816,2021-04-09 05:56:56,"RT @diazsophhhi: Ninguna mujer es mi enemiga, ...",NaN,NaN,taneisha21,274,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
146,1380401513877676034,2021-04-09 06:05:42,RT @lunadelmarsito: No puedo dormir🙃,NaN,NaN,nashaliann,6,0
147,1380400673104277505,2021-04-09 06:02:21,La ansiedad se apoderó de mi sueño hoy😫,NaN,NaN,nashaliann,0,0
148,1380369193246326787,2021-04-09 03:57:16,RT @JCont2: Quiero un roadtrip 🥺,NaN,NaN,nashaliann,6,0
149,1380368495653883905,2021-04-09 03:54:30,"RT @Arii__876: Lord, please bring me closer to...",NaN,NaN,nashaliann,44004,0
150,1380368367744352256,2021-04-09 03:53:59,"RT @andrealispena: cabron, yo soy una persona ...",NaN,NaN,nashaliann,352,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
5,1380995468033921024,2021-04-10 21:25:51,@MayraCoronaC Odio chismes de oficina,NaN,NaN,soy_laPerez,0,1
6,1380753649224273923,2021-04-10 05:24:57,RT @DraKarenRosale1: Tip matrimonial sin fines...,NaN,NaN,soy_laPerez,100,0
7,1380751692245954562,2021-04-10 05:17:11,@HDCU10 No la conocía pero fue un buen descubr...,NaN,NaN,soy_laPerez,0,1
8,1380498167997816832,2021-04-09 12:29:46,@HDCU10 Otra de mis favs,NaN,NaN,soy_laPerez,0,1
9,1380497429083140103,2021-04-09 12:26:50,@HDCU10 Me súper encanta,NaN,NaN,soy_laPerez,0,1

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
38,1380737110328631297,2021-04-10 04:19:14,Omg https://t.co/9ptFCsMAfs,NaN,NaN,nikx_lee,0,0
39,1380736385229975552,2021-04-10 04:16:21,RT @etherealdeen: wait how young are y'all tha...,NaN,NaN,nikx_lee,24206,0
40,1380662665555685384,2021-04-09 23:23:25,RT @tomi01carp: Yo a la noche poniendo cara de...,NaN,NaN,nikx_lee,17211,0
41,1380655102051123206,2021-04-09 22:53:22,RT @__BCCS__: Cuando la ambulancia trata de pa...,NaN,NaN,nikx_lee,791,0
42,1380527167726092293,2021-04-09 14:25:00,RT @PrideOfLR: Dude... https://t.co/kXuzRJXOOz,NaN,NaN,nikx_lee,33280,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
63,1380498008832417798,2021-04-09 12:29:08,RT @vaticannews_es: El #PapaFrancisco presidir...,NaN,NaN,PadreOLugo,79,0
64,1380497581445382154,2021-04-09 12:27:26,RT @drcorazon2016: Mi ( nuestro ) paciente de ...,NaN,NaN,PadreOLugo,49,0
65,1380496399394037763,2021-04-09 12:22:44,RT @romereportsesp: El Papa traza el perfil de...,NaN,NaN,PadreOLugo,43,0
66,1380496304669913089,2021-04-09 12:22:22,👇🏾👇🏾👇🏾 https://t.co/reV0cFqY4E,NaN,NaN,PadreOLugo,2,8
67,1380496166329196545,2021-04-09 12:21:49,Oracion de la Mañana de Hoy Viernes 9 de Abril...,NaN,NaN,PadreOLugo,1,3

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
38,1380387761895661568,2021-04-09 05:11:03,RT @IIBomboclaat: bomboclaat https://t.co/Nkpy...,NaN,NaN,mumyy122,18,0
39,1380387585919492097,2021-04-09 05:10:21,RT @iPibaToxica: NO VIVEN CON LA SENSACIÓN DE ...,NaN,NaN,mumyy122,3482,0
40,1380376429712527362,2021-04-09 04:26:01,RT @PSlCOLOGO: No dices nada para evitar confl...,NaN,NaN,mumyy122,3045,0
41,1380370314392174593,2021-04-09 04:01:43,RT @alonnr_: por mi ya todo se puede ir al mis...,NaN,NaN,mumyy122,3,0
42,1380370292908945409,2021-04-09 04:01:38,RT @_sherly15: que mucha mierda hablan jajaj,NaN,NaN,mumyy122,1,0

,id,created_at,text,coordinates,geo,user,retweet_count,favorite_count
151,1380515425583308806,2021-04-09 13:38:20,Me levantaron 😒,NaN,NaN,VerdejoMichelle,0,0
152,1380515294557446144,2021-04-09 13:37:49,RT @valentinasofiaz: la gente está cb😂,NaN,NaN,VerdejoMichelle,2,0
153,1380399202644152322,2021-04-09 05:56:31,"RT @karolgstt: KG: ""¿Y la gente si ve una entr...",NaN,NaN,VerdejoMichelle,5,0
154,1380394350325198848,2021-04-09 05:37:14,"Karol G es bien cute, pude verla bien en la en...",NaN,NaN,VerdejoMichelle,0,9
155,1380372953490202628,2021-04-09 04:12:12,necesito mi carro y es ya 🤒,NaN,NaN,VerdejoMichelle,0,0

# Analysis/Modeling
Do work here

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Imports</a></span></li></ul></li></ul></li><li><span><a href="#Analysis/Modeling" data-toc-modified-id="Analysis/Modeling-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Analysis/Modeling</a></span></li><li><span><a href="#Results" data-toc-modified-id="Results-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Results</a></span></li><li><span><a href="#Conclusions-and-Next-Steps" data-toc-modified-id="Conclusions-and-Next-Steps-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Conclusions and Next Steps</a></span></li></ul></div>